:root {
  --bg-white: #F4F5F7;
  --bg-white2: #f5f5f5;
  --red-active: #d53521;
  --red-disabled: #e88a7f;
  --red-dark: #b82a18;
  /* --l-gray: #e6ebef;
  --m-gray: #D9D9D9;
  --d-gray: #424b55;
  --bg-cream: #e0cfbd;
  --blue: #0147a5;
  --purple: #7f6aee;
  --purple-disabled: #aca0eb;
  --blue-disabled:rgb(129, 153, 173);
  --sky-blue: #d0e2f2; */

  /* --space-20: 20px;
  --space-40: 40px; */
}