.form-category {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.date-category {
    margin-top: 60px;
}

.nickname-helper-text {
    padding-left: 20px;
    padding-top: 5px;
}

.personal-input-group {
    margin-bottom: 60px;
}

.submit-form .field-group {
    margin-bottom: 4px;
}

.menu-input-group .field-group {
    gap: 12px; /* label과 input 사이 간격 줄이기 */
    justify-content: flex-start !important; /* justify-between 대신 flex-start 사용 */
}

.field-group select {
    padding: 4px 6px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 10px;
}

.page-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.submit-form input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 230px;
}

.submit-form label {
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
}

.menu-input-group .form-label {
    width: 60px; /* label 너비 고정 (가장 긴 '비선호:'에 맞춤) */
    flex-shrink: 0; /* label이 줄어들지 않도록 */
    text-align: left; /* 텍스트 왼쪽 정렬 */
}

.menu-input-group .helper-text {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: red;
    text-align: left;  
    padding-left: 80px;
}

.submit-button {
    background-color: var(--red-active);
    color: white;
    border: none;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    width: 130px;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.menu-input-group input {
    width: 280px;
}

.submit-button:disabled {
    background-color: var(--red-disabled);
}

#dates {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
}

#dates:focus {
  outline: none;
  border-color: var(--red-active);
}