.auth-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group > input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.helper-text {
    font-size: 12px;
    color: red;
    height: 16px;
    text-align: center;
    margin-bottom: 10px;
}

.auth-button {
    background-color: var(--red-active);
    color: white;
    border: none;
    padding: 8px 32px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    width: 230px;
    margin: 0 auto;
    transition: background-color 0.3s;
}

.auth-button:disabled {
    background-color: var(--red-disabled);
}

.signup-link {
    display: block;
    text-align: center;
    color: black;
    text-decoration: underline;
    font-weight: 500;
}